{% load staticfiles %}
<html>
    <head>
      	<meta charset="utf-8" />
        <title id ="titre_page">eBeck</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" type="text/css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/colonnes.css' %}">
    </head>
    <body>
      <p id="douce_poésie"> ICI C'EST LE TEMPLATE GLOBAL !</p>

      <div class="row">
          <div class="col-md-8">
          {% block content %}
          {% endblock %}
          </div>


    </body>
</html>
