{% extends 'colonnes/base.html' %}

<div>

{% block content %}
    {% if user.is_authenticated %}
<h1 id="centrertitre" class="titre">Le Saviez-Vous ?</h1>

{% for conseil in conseils %}
<div id="content">
<p id="situation">{{conseil.contenu_conseil}}</p>
<p id ="pensee_aut">{{conseil.type_conseil}}</p>
</div>
{% endfor %}

    {% else %}
    <p>Connectez-vous pour voir les conseils de développement personnel.</p>
    <a href="{% url 'login' %}">Se connecter</a>
    {% endif %}
{% endblock %}

</div>
