{% extends 'colonnes/base.html' %}

<div>

{% block content %}
    {% if user.is_authenticated %}
      <h1 id="centrertitre" class="titre">Votre Journal</h1>
  <div id="content">
    <p id="soustitre" id="centrer">Rechercher dans le Journal</p>
      <p><form method="POST">{% csrf_token %}
      <p id="texte"><label for="id_dateDeDebut">Date de début :</label> <input type="text" name="dateDeDebut" required id="id_dateDeDebut" /></p>
      <p id="texte"><label for="id_dateDeFin">Date de fin :</label> <input type="text" name="dateDeFin" required id="id_dateDeFin" /></p>
      <p>Dates au format JJ/MM/AAAA</p>
      <p id="texte"><label for="id_emotion">Emotion:</label> <select name="emotion" id="id_emotion">
        <option value="TO" selected>Toutes</option>

        <option value="JO">Joie</option>

        <option value="CO">Colère</option>

        <option value="TR">Tristesse</option>

        <option value="DE">Dégoût</option>

        <option value="PE">Peur</option>

  </select></p>
      <button type="submit" id="centrerstats" class="btn btn-primary">Valider</button>
    </form></p>
  </div>

    {% for c in colsCherche %}
    <div id="content">
    <p id="situation">{{c.situation}}</p>
    <p id ="pensee_aut">{{c.pensee_aut}}</p>
    <p><span id="emotion">{{c.emotion}}</span><span id="date">{{c.date_event}}</span></p>
    </div>
    {% endfor %}

    {% for col in cols %}
    <div id="content">
    <p id="situation">{{col.situation}}</p>
    <p id ="pensee_aut">{{col.pensee_aut}}</p>
    <p><span id="emotion">{{col.emotion}}</span><span id="date">{{col.date_event}}</span></p>
    </div>
    {% endfor %}

    {% else %}
    <p>Connectez-vous pour voir votre journal.</p>
    <a href="{% url 'login' %}">Se connecter</a>
    {% endif %}

{% endblock %}
