{% extends 'colonnes/base.html' %}

<div>

{% block content %}
    {% if user.is_authenticated %}
	<p> Bienvenue sur la page paramètres</p>
    {% else %}
    <p>Connectez-vous pour voir vos paramètres.</p>
    <a href="{% url 'login' %}">Se connecter</a>
    {% endif %}


      {{messageEnregistrementTagValide}}
    <p>
      <form method="POST">{% csrf_token %}
        <!--{{formTag.as_p}} et ci-dessus sa version HTML standardisée, favorable aux modifications CSS-->
        <p><label for="id_nom_tag">Nom du nouveau Tag à ajouter :</label> <input type="text" name="nom_tag" maxlength="30" required id="id_nom_tag" /></p>
        <button type="submit">Ajouter un Tag</button>
      </form>
    </p>
{% endblock %}

</div>
