{% load staticfiles %}

<html>

    <head>
      	<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title id ="titre_page">eBeck</title>
        <link rel="stylesheet" href="{% static 'css/colonnes.css' %}">
    </head>

    <header class="couleur_bg">

      <img id = "logo_ebeck" src="{% static 'images/ebeck.png' %}" alt="E-Beck">
      <div id="titre_authentification">Inscription</div>

    </header>

    <body class="couleur_bg" id="body_authentification">


      <div id="content">
        <form method="POST" class="post-form">{% csrf_token %}
            <!--{{ formSignUp.as_p }}-->
            <p><label for="id_username">Pseudonyme :</label> <input type="text" name="username" maxlength="150" autofocus required id="id_username" /> <span class="helptext">Lettres, chiffres, et symbôles @/./+/-/_ sont autorisés.</span></p>
            <p><label for="id_first_name">Prénom :</label> <input type="text" name="first_name" maxlength="30" id="id_first_name" /> <span class="helptext">Optionnel</span></p>
            <p><label for="id_last_name">Nom :</label> <input type="text" name="last_name" maxlength="30" id="id_last_name" /> <span class="helptext">Optionnel</span></p>
            <p><label for="id_email">Email :</label> <input type="email" name="email" maxlength="254" required id="id_email" /></p>
            <p><label for="id_password1">Mot de passe :</label> <input type="password" name="password1" required id="id_password1" /> <span class="helptext"><ul><li>Votre mot de passe ne peut être similaire à d'autres informations personnelles</li><li>Votre mot de passe doit contenir au moins 8 caractères.</li><li>Votre mot de passe ne peut pas contenir que des chiffres.</li></ul></span></p>
            <p><label for="id_password2">Confirmation mot de passe :</label> <input type="password" name="password2" required id="id_password2" /></p>
        <button type="submit" id="submit_inscription_button" class="save btn btn-default"> S'inscrire </button>
        </form>
      </div>


        <a href="{% url 'login' %}" id="authentifier_inscription"> S'authentifier
        </a>

    </div>

    </body>

</html>
